@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-color: rgba(29, 30, 33, 0.9);

}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

#root {
  max-width: 100%;

}